<form id="newCriminal" ng-submit="criminals.create()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" ng-model="criminals.newCriminal.name" placeholder="Prof. Moriarty">
  </div>
  <div>
    <label for="location">Location:</label>
    <input type="text" id="location" ng-model="criminals.newCriminal.location" placeholder="Reichenbach Falls, CH">
  </div>
  <div>
    <label for="status">Status:</label>
    <select id="status" ng-model="criminals.newCriminal.status">
      <option value="" disabled>- - Please Select One - -</option>
      <option value="Alive">Alive</option>
      <option value="Dead">Dead</option>
      <option value="Unknown" selected>Unknown</option>
    </select>
  </div>
  <div>
    <input type="submit" value="Add Criminal">
  </div>
</form>
