<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>New User</title>
</head>
<body>
  <h1>New User</h1>
  <form method="post" action="/users">
    <label for="users_username">Username</label>
    <input type="text" name="user[username]" id="users_username">

    <button>Create</button>
  </form>
</body>
</html>
