<section class="container">
  <h1>All Movies</h1>
  <% movies.forEach((movie, i, original) => { %>
    <% if (i === 0) { %>
      <div class="row">
    <% } else if (i !== 0 && i % 3 === 0) { %>
      </div>
      <div class="row">
    <% }; %>
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- <img src="..." alt="..."> -->
          <div class="caption">
            <h3><%= movie.title %></h3>
            <p><%= movie.description %></p>
            <p><a href="/movies/<%= movie._id %>" class="btn btn-primary" role="button">View</a></p>
          </div>
        </div>
      </div>
    <% if (i === original.length-1) { %>
      </div>
    <% }; %>
  <% }); %>
</section>
